<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">
    
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <header>
        <h1>Projets</h1>
    </header>

    <main>
        <form id="form-project">
            <label>
                {{ lang.fields.project_sorting[flag] }}
                <select name="project_sorting" id="select-sorting">
                    <option value="new_old" selected>{{ lang.options.new_old[flag] }}</option>
                    <option value="old_new">{{ lang.options.old_new[flag] }}</option>
                    <option value="first_last">{{ lang.options.first_last[flag] }}</option>
                    <option value="last_first">{{ lang.options.last_first[flag] }}</option>
                    <option value="a_z">{{ lang.options.a_z[flag] }}</option>
                    <option value="z_a">{{ lang.options.z_a[flag] }}</option>
                </select>
            </label>

            <div id="project-list"></div>

            <div class="cancel-ok">
                <button class="primary" type="submit" data-action="new">{{ lang.btns.new[flag] }}</button>
                <button class="primary" type="submit" data-action="edit-end" hidden>{{ lang.btns.edit_end[flag] }}</button>
                <button type="submit" data-action="edit-start">{{ lang.btns.edit_start[flag] }}</button>
                <button type="submit" data-action="delete" hidden>{{ lang.btns.delete[flag] }}</button>
            </div>
        </form>
    </main>

    <script src="../render.js"></script>
</body>

</html>