<form>
    <label>
        {{ lang.fields.bibliography }}
        <input type="text" name="bibliography">
        <button type="button" data-path="json" id="dialog-path-bibliography">Sélectionner</button>
    </label>
</form>