<form>
    <label>
        {{ lang.fields.csl_locale }}
        <input type="text" name="csl_locale">
        <button type="button" data-path="xml" id="dialog-path-locales">Sélectionner</button>
    </label>
</form>