<form>
    <label>
        {{ lang.fields.files_origin }}
        <input type="text" name="files_origin">
        <button type="button" data-path="directory" id="dialog-path-fileorigin">Sélectionner</button>
    </label>
</form>