<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma - configuration</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1 class="game-title">Configuration</h1>
    </header>

    <main class="app">
        <form action="">
            <input type="text" name="" id="" placeholder="Nom">
            <input type="text" name="" id="" placeholder="Prénom">
            <input type="number" name="" id="" placeholder="5">
            <textarea name="" id="" cols="30" rows="10">Du texte</textarea>
        </form>

        <button id="btn">Enter fullscreen</button>
    </main>

    <footer>
        <div class="credits">
            <span>Développé par l'équipe HyperOtlet</span>
            <span>Porté par ElectronJs</span>
        </div>
    </footer>

    <script src="render.js"></script>
</body>

</html>