<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1 class="game-title">Cosma</h1>
        <h2 class="game-sub-title">de la fiche au graphe</h2>
        <p>version : <span id="version"></span></p>
    </header>

    <main>
        <button id="add-record">Créer une fiche</button>
    </main>

    <footer>
        <div class="credits">
            <span>Développé par l'équipe HyperOtlet</span>
            <span>Porté par ElectronJs</span>
        </div>
    </footer>
</body>

</html>