<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma - configuration</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1 class="game-title">Configuration</h1>
    </header>

    <div class="wrapper">
    
        <main>
            <form id="form-config">
                <label>
                    Répertoire des fiches
                    <input type="text" name="files_origin">
                    <button type="button" id="dialog-path-fileorigin">Sélectionner</button>
                </label>

                <label>
                    Historique des Cosmoscopes
                    <input type="checkbox" name="history">
                </label>

                <div id="add-type-record">
                    <h2>Types de fiches</h2>

                    <button type="button" data-fx="add">Ajouter un type</button>
                    <button type="button" data-fx="modif">Modifier</button>
                    <button type="button" data-fx="delete">Supprimer</button>

                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Couleur</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <h2>Graphe</h2>

                <label>
                    Niveaux maximum de focus
                    <input type="number" name="focus_max">
                </label>

                <label>
                    Couleur de fond
                    <input type="color" name="graph_background_color">
                </label>

                <label>
                    Couleur de surbrillance
                    <input type="color" name="graph_highlight_color">
                </label>

                <label>
                    Surbrillance au survol des nœuds
                    <input type="checkbox" name="graph_highlight_on_hover" checked>
                </label>

                <label>
                    Flèchage de la direction des liens
                    <input type="checkbox" name="graph_arrows">
                </label>

                <label>
                    Taille du texte des étiquettes
                    <input type="number" name="graph_text_size">
                </label>

                <h3>Spatialisation des nœuds</h3>

                <label>
                    Force d'attraction
                    <input type="number" name="graph_attraction_force" step="0.01">
                </label>

                <label>
                    Distance maximum
                    <input type="number" name="graph_attraction_distance_max" step="0.01">
                </label>

                <label>
                    Force verticale
                    <input type="number" name="graph_attraction_verticale" step="0.01">
                </label>

                <label>
                    Force horizontale
                    <input type="number" name="graph_attraction_horizontale" step="0.01">
                </label>
                
                <h2>Signature</h2>

                <label>
                    Titre de l'export
                    <input type="text" name="metas_title">
                </label>

                <label>
                    Auteur
                    <input type="text" name="metas_author">
                </label>

                <label>
                    Mots-clés
                    <input type="text" name="metas_keywords">
                </label>

                <label>
                    Description
                    <textarea name="metas_description"></textarea>
                </label>
                
                <h2>Bibliographie</h2>

                <label>
                    Fichier de références bibliographiques
                    <input type="text" name="bibliography">
                    <button type="button" id="dialog-path-bibliography">Sélectionner</button>
                </label>

                <label>
                    Fichier de style bibliographique
                    <input type="text" name="csl">
                    <button type="button" id="dialog-path-csl">Sélectionner</button>
                </label>

                <output></output>
    
                <button type="submit">Enregistrer</button>
            </form>

        </main>

    </div>

    <script src="config-render.js"></script>
</body>

</html>