<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma - Historique</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>Historique</h1>
    </header>

    <div class="wrapper">
    
        <main>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="table-history"></tbody>
            </table>

        </main>

    </div>

    <script src="history-render.js"></script>
</body>

</html>