@charset "UTF-8";

/** Global
------------------------------------------------------------*/

:root {
    --cosma-blue: #147899;
    --select-color: #a0cddd;
    --cosma-blue-dark: #02385c;
    --mac-menu-background-color: #f6f6f6;
    --mac-border-color: #e6e6e6;
    --mac-border-bottom-color: #bababa;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Material Icons';
    src: url('../../assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 20px;
    margin: 0;
    font-family: system-ui, -apple-system, 'San Francisco', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden;
    background-color: var(--mac-menu-background-color);
}

.wrapper {
    max-width: 95vw;
    margin: 0 auto;
}

/** Components
------------------------------------------------------------*/

/* ---
- Material Icons
--- */

.ico {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    color: var(--gray-component);
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* ---
- Buttons
--- */

button {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--mac-border-color);
    border-bottom: 1px solid var(--mac-border-bottom-color);
    border-radius: 5px;
    padding: 2px 15px;
}

button.primary {
    background-color: var(--select-color);
}

button + button {
    margin-left: 4px;
}

button.ico {
    background-color: transparent;
    border: unset;
}

.cancel-ok {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* ---
- Lists
--- */

li {
    margin: 2px 0;
}

/** Forms
------------------------------------------------------------*/

/* ---
- General
--- */

form {
    display: flex;
    flex-direction: column;
}

form fieldset {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 2px;
}

form label {
    display: flex;
    margin: 2px 0;
    line-height: 150%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

input:focus {
    outline: none !important;
}

input:invalid {
    border: 1px solid red !important;
}

form.form-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form.form-list table {
    margin: unset;
    width: 70%;
}

form.form-list div.buttons-box {
    width: 25%;
}

form.form-list div.buttons-box button {
    margin: 1px 0;
}

form label.flex-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

form label.flex-column textarea {
    width: 99%;
    margin-top: 7px;
}

form label input,
form label button,
form label select,
form label textarea {
    margin-left: 10px;
}

input[type=checkbox] {
    margin-right: 7px;
    margin-left: 0;
}

form textarea, form input {
    font: inherit;
    resize: vertical;
}

form input[type=text] {
    flex-grow: 4;
}

form label.flex-end {
    justify-content: flex-end;
    text-align: right;
    align-items: flex-start;
}

form label.flex-end input,
form label.flex-end textarea {
    text-align: left;
    flex-grow: 0;
    width: 80%;
    margin-left: 10px;
}

form label.space-between {
    justify-content: space-between;
}

form input[type=text],
form label select,
textarea {
    border: 1px solid var(--mac-border-color);
}

form input[type=number] {
    max-width: 42px;
}

form label select {
    padding: 0 5px;
}

form div.select-list {
    display: flex;
}

form div.select-list div {
    position: relative;
    flex: 3;
}

form div.select-list > div + div {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    max-width: 200px;
    flex: 1;
}

form div.select-list label {
    display: flex;
    justify-content: space-between;
    text-indent: 5px;
    align-items: flex-start;
}

/* ---
- Selectors
--- */

.select-list-wrapper {
    background-color: white;
}

.select-list-header {
    display: flex;
    border-bottom: 1px solid var(--mac-border-color);
    font-weight: normal;
    font-size: 1.2rem;
    color: #272727;
    border-bottom: 1px solid var(--mac-border-color);
    padding: 5px;
    text-align: center;
}

.select-list-header span:first-child,
#table-history span:first-child {
    width: 35%;
}

.select-list-header span:last-child,
#table-history span:last-child {
    width: 55%;
}

form div.select-list input[type="radio"] {
    position: absolute;
    z-index: 2;
    appearance: none;
    width: 100%;
    height: 25px;
    margin: 0 2px;
}

form div.select-list input[type="radio"]:checked {
    background-color: rgba(0,0,0,0.1);
}

.select-list-buttons button + button {
    margin-top: 7px;
}

/** Tables
------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border: 1px solid var(--mac-border-color);
}

th, td { border: none; }

th {
    font-weight: normal;
    font-size: 1.2rem;
    color: #272727;
    border-bottom: 1px solid var(--mac-border-color);
    padding: 5px;
}

td {
    padding: 0 5px;
}

/** Page Configuration
------------------------------------------------------------*/

nav.menu-vertical {
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%; 
}

nav.menu-vertical ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

nav.menu-vertical ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

nav.menu-vertical ul li.active {
    background-color: var(--select-color);
}

nav.menu-vertical ul li .ico {
    margin-right: 0.5rem;
}

nav.menu-vertical + main {
    margin-left: 20%;
}

section.menu-section:not(.visible) {
    display: none;
}







.stroke-exemple {
    display: block;
    border-bottom: unset !important;
    border-left: unset !important;
    border-right: unset !important;
}

details {
    padding: 10px 0;
    border-top: 1px solid black;
}

details summary {
    cursor: pointer;
}

.side-by-side {
    display: flex;
}

.side-by-side div {
    width: 40%;
    margin-right: auto;
}

.side-by-side div h3 {
    margin-top: 0;
}

