---
title: Cosma Documentation
description: >
    Cosma manual for users and developers.
lang: en
eleventyExcludeFromCollections: true
---
<!doctype html>
{% include "head.njk" %}

<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <ul>
            <li>
                FR 🇫🇷
                <ul>
                    {% for post in collections.all %}
                    {% if post.data.lang == 'fr' %}
                    <li><a href="./{{ post.data.title | slugify }}.html">{{ post.data.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li>
                EN 🇬🇧
                <ul>
                    {% for post in collections.all %}
                    {% if post.data.lang == 'en' %}
                    <li><a href="./{{ post.data.title | slugify }}.html">{{ post.data.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </main>

    {% include "footer.njk" %}
</body>

</html>