<form>
    <label>
        {{ lang.fields.bibliography[flag] }}
        <input type="text" name="bibliography">
        <button type="button" data-path="json" id="dialog-path-bibliography">{{ lang.btns.select[flag] }}</button>
    </label>
</form>