<form>
    <label>
        {{ lang.fields.csl[flag] }}
        <input type="text" name="csl">
        <button type="button" data-path="csl" id="dialog-path-csl">{{ lang.btns.select[flag] }}</button>
    </label>
</form>