<form>
    <label>
        {{ lang.fields.csl_locale[flag] }}
        <input type="text" name="csl_locale">
        <button type="button" data-path="xml" id="dialog-path-locales">{{ lang.btns.select[flag] }}</button>
    </label>
</form>