<form>
    <label>
        {{ lang.fields.css_custom[flag] }}
        <input type="text" name="css_custom">
        <button type="button" data-path="css" id="dialog-path-css">Sélectionner</button>
    </label>
</form>