<form id="form-origin">
    <fieldset>
        <legend>{{ lang.fields.select_origin[flag] }}</legend>

        <select name="select_origin" id="files-select">
            <option value="directory">{{ lang.fields.directory_origin[flag] }}</option>
            <option value="csv">{{ lang.fields.csv_origin[flag] }}</option>
        </select>
    
        <label>
            {{ lang.fields.files_origin[flag] }}
            <input type="text" name="files_origin">
            <button type="button" data-path="directory" id="dialog-path-fileorigin">{{ lang.btns.select[flag] }}</button>
        </label>

        <label>
            {{ lang.fields.nodes_origin[flag] }}
            <input type="text" name="nodes_origin">
            <button type="button" data-path="csv" id="dialog-path-nodeorigin">{{ lang.btns.select[flag] }}</button>
        </label>

        <label>
            {{ lang.fields.links_origin[flag] }}
            <input type="text" name="links_origin">
            <button type="button" data-path="csv" id="dialog-path-linkorigin">{{ lang.btns.select[flag] }}</button>
        </label>
    </fieldset>
</form>