<form>
    <label>
        {{ lang.fields.images_origin[flag] }}
        <input type="text" name="images_origin">
        <button type="button" data-path="directory" id="dialog-path-imagesorigin">{{ lang.btns.select[flag] }}</button>
    </label>
</form>