<form id="form-type-link" class="form-list">
    <table>
        <thead>
            <th width="10px"></th>
            <th>Nom</th>
            <th>Tracé</th>
            <th>Couleur</th>
        </thead>
        <tbody></tbody>
    </table>

    <div class="buttons-box">
        <button data-action="add" class="primary" type="submit">{{ lang.btns.add[flag] }}</button>
        <button data-action="update" type="submit">{{ lang.btns.update[flag] }}</button>
        <button data-action="delete" type="submit">{{ lang.btns.delete[flag] }}</button>
        <button data-action="delete-all" type="submit">{{ lang.btns.delete_all[flag] }}</button>
    </div>
</form>