<form id="form-node-size">
    <fieldset>
        <legend>{{ lang.fields.node_sizing[flag] }}</legend>

        <select name="node_size_method">
            <option value="unique">{{ lang.fields.node_size_method_unique[flag] }}</option>
            <option value="degree">{{ lang.fields.node_size_method_degree[flag] }}</option>
        </select>
    
        <div data-method="unique">
            <label class="space-between">
                {{ lang.fields.node_size[flag] }}
                <input type="number" name="node_size" step="1">
            </label>
        </div>
    
        <div data-method="degree">
            <label class="space-between">
                {{ lang.fields.node_size_min[flag] }}
                <input type="number" name="node_size_min" step="1">
            </label>
        
            <label class="space-between">
                {{ lang.fields.node_size_max[flag] }}
                <input type="number" name="node_size_max" step="1">
            </label>
        </div>
    </fieldset>
</form>