<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma - nouvelle fiche</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <header>
        <h1 class="game-title">Nouvelle fiche</h1>
    </header>

    <div class="wrapper">
    
        <main>
            <form id="form-record">
                <label>
                    Titre
                    <input type="text" name="title" required>
                </label>
    
                <label>
                    Type
                    <select name="type"></select>
                </label>
    
                <label>
                    Mots-clés
                    <input type="text" name="tags">
                </label>

                <output></output>
    
                <button type="submit">Enregistrer</button>
            </form>

        </main>

    </div>

    <script src="main-render.js"></script>
</body>

</html>