<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Configuration</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="wrapper">
    
        <main>
            <form id="form-config">
                <label>
                    Répertoire des fiches :
                    <input type="text" name="files_origin">
                    <button type="button" id="dialog-path-fileorigin">Sélectionner</button>
                </label>
                
                <label>
                    <input type="checkbox" name="history">
                    Enregistrer automatiquement les cosmoscopes dans l’historique
                </label>

                <div id="add-type-record">
                    <h2>Types de fiches</h2>

                    <button type="button" data-fx="add">Ajouter un type de fiche</button>

                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Couleur</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <div id="add-type-links">
                    <h2>Types de liens</h2>

                    <button type="button" data-fx="add">Ajouter un type de lien</button>

                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Trait</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <h2>Graphe</h2>
                
                <div class="side-by-side">
                
                    <div>

                        <label>
                                <input type="checkbox" name="graph_arrows">
                                Afficher des flèches sur les liens
                        </label>

                        <label class="space-between">
                                Niveau maximum de focus :
                                <input type="number" name="focus_max" step="1">
                        </label>

                        <label class="space-between">
                                Taille du texte des étiquettes :
                                <input type="number" name="graph_text_size" step="1">
                        </label>

                        <label class="space-between">
                                Couleur de fond :
                                <input type="color" name="graph_background_color">
                        </label>

                        <label class="space-between">
                                Couleur de surbrillance :
                                <input type="color" name="graph_highlight_color">
                        </label>

                    </div>

                    <div>

                        <h3>Spatialisation</h3>
                        
                        <label class="space-between">
                                Force d'attraction :
                                <input type="number" name="graph_attraction_force" step="1">
                        </label>

                        <label class="space-between">
                                Distance maximum entre les nœuds :
                                <input type="number" name="graph_attraction_distance_max" step="1">
                        </label>

                        <label class="space-between">
                                Attraction verticale :
                                <input type="number" name="graph_attraction_verticale" step="0.1">
                        </label>

                        <label class="space-between">
                                Attraction horizontale :
                                <input type="number" name="graph_attraction_horizontale" step="0.1">
                        </label>
                            
                    </div>
                
                </div>
                
                <h2>Métadonnées</h2>

                <label class="flex-end">
                    Titre de l'export :
                    <input type="text" name="metas_title">
                </label>

                <label class="flex-end">
                    Auteur :
                    <input type="text" name="metas_author">
                </label>

                <label class="flex-end">
                    Mots-clés :
                    <input type="text" name="metas_keywords">
                </label>

                <label class="flex-end">
                    Description :
                    <textarea name="metas_description"></textarea>
                </label>
                
                <h2>Bibliographie</h2>

                <label>
                    Données bibliographiques (CSL JSON) :
                    <input type="text" name="bibliography">
                    <button type="button" id="dialog-path-bibliography">Sélectionner</button>
                </label>

                <label>
                    Style bibliographique (CSL) :
                    <input type="text" name="csl">
                    <button type="button" id="dialog-path-csl">Sélectionner</button>
                </label>

                <label>
                    Localisation bibliographique (XML) :
                    <input type="text" name="bibliography_locales">
                    <button type="button" id="dialog-path-locales">Sélectionner</button>
                </label>

                <h2>Interface</h2>

                <label>
                    <input type="checkbox" name="devtools">
                    Activer les outils de développement
                </label>

                <label>
                    <input type="checkbox" name="custom_css">
                    Utiliser une CSS personnalisée
                </label>

                <label>
                    CSS personnalisée :
                    <input type="text" name="custom_css_path">
                    <button type="button" id="dialog-path-css">Sélectionner</button>
                </label>

                <output></output>
            </form>

            <h2>Vues</h2>

            <form id="form-views">

                <div class="select-list">

										<div class="select-list-wrapper">

												<div class="select-list-header">
														<span>Nom</span>
												</div>

												<div id="table-history"></div>
												
										</div>

                    <div>
                        <button data-action="update" type="submit">Renommer</button>
                        <button data-action="delete" type="submit">Supprimer</button>
                        <button data-action="delete-all" type="submit">Tout supprimer…</button>
                    </div>
                </div>

            </form>

        </main>

    </div>

    <script src="main-render.js"></script>
</body>

</html>