<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Cosma - Éditer un type de fiche</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <header>
        <h1>Éditer un type de fiche</h1>
    </header>

    <div class="wrapper">
    
        <main>

            <form id="form-update-record-type">
                <label>
                    Nom
                    <input type="text" name="name">
                </label>

                <label>
                    Couleur
                    <input type="color" name="color">
                </label>

                <input type="hidden" name="originalName">

                <output></output>
    
                <div class="cancel-ok">
                <button class="window-close" type="button">Annuler</button>
                <button type="submit">OK</button>
                </div>
            </form>

        </main>

    </div>

    <script src="modal-updaterecordtype-render.js"></script>
</body>

</html>