<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Historique</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="wrapper">
    
        <main>

            <form id="form-history">

                <div class="select-list">

                    <div class="select-list-wrapper">

                        <div class="select-list-header">
                                <span>Date</span>
                                <span>Description</span>
                        </div>

                        <div id="table-history"></div>
                            
                    </div>

                    <div class="select-list-buttons">
                        <button data-action="add-current" type="submit">Ajouter la version actuelle à l’historique</button>
                        <button data-action="update" type="submit">Modifier</button>
                        <button data-action="open-cosmoscope">Ouvrir dans Cosma</button>
                        <button data-action="open-finder">Localiser le fichier</button>
                        <button data-action="open-report">Rapport d'erreurs</button>
                        <button data-action="delete" type="submit">Supprimer</button>
                        <button data-action="delete-all" id="btn-delete-all">Tout supprimer…</button>
                    </div>
                </div>

            </form>

            <output></output>

        </main>

    </div>

    <script src="main-render.js"></script>
</body>

</html>