<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Historique</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="wrapper">
    
        <main>

            <button id="btn-delete-all">Tout supprimer…</button>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="table-history"></tbody>
            </table>

            <output></output>

        </main>

    </div>

    <script src="main-render.js"></script>
</body>

</html>