<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <title>Rapport d’erreurs</title>
    
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="wrapper">
    
        <main>

            <p><b id="error-counter"></b> erreurs ont été relevées.</p>

            <section id="error-list"></section>

            <button class="window-close">OK</button>

        </main>

    </div>

    <script src="modal-report-render.js"></script>
</body>

</html>