<footer>
    {% if lang === 'en' %}
    <p>
        Cosma is free software, released under the <a href="https://opensource.org/licenses/GPL-3.0">{{ pck.license }}</a> license.<br/>
        This documentation was built with <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    {% endif %}
    {% if lang === 'fr' %}
    <p>
        Cosma est un logiciel libre, diffusé sous licence <a href="https://opensource.org/licenses/GPL-3.0">{{ pck.license }}</a>.<br/>
        Cette documentation a été fabriquée avec <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    {% endif %}
</footer>