<html lang="{{ lang }}">
<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="{{ eleventy.generator }}">

	<title>{{ title }} | Cosma</title>

	<meta name="description" content="{{ description }}" />
	<meta name="author" content="{{ pck.contributors }}" />
	<meta name="copyright" content="{{ pck.license }}"/>
	<meta name="last_edit" content="{{ page.date | shortdate }}" />

	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:site_name" content="{{ pck.name }}" />

	<meta itemprop="name" content="{{ pck.name }}" />
	<meta itemprop="description" content="{{ description }}" />

	<link rel="schema.DC" href="https://purl.org/dc/elements/1.1/" />
	<link rel="schema.DCTERMS" href="https://purl.org/dc/terms/" />  

	<meta property="DC.title" content="{{ title }}" />
	<meta property="DC.contributor" content="{{ pck.contributors }}" />
	<meta property="DC.date" content="{{ page.date | shortdate }}" />
	<meta property="DC.language" content="{{ lang }}" />
	<meta property="DC.description" lang="{{ lang }}" content="{{ description }}" />
	<meta property="DC.rights" content="{{ pck.license }}" />

	<meta name="twitter:site" content="@arthurperret" />
	<meta name="twitter:creator" content="@arthurperret" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:card"  content="summary" />
	<meta name="twitter:image" content="https://cosma.graphlab.fr/img/cosma-icone.png" />

	<style>
			{% include "styles.css" %}
	</style>
</head>