@media print {
  /* ---
	- Global
	--- */

  :root {
    font-size: 52.5%;
  }

  @page {
    margin: 10mm 20mm;
  }

  body {
    overflow: unset;
  }

  /* ---
	- Elements
	--- */

  p,
  tr,
  li {
    orphans: 3;
  }

  a[href]:not([onclick]):after {
    content: ' (' attr(href) ')';
  }

  /* ---
	- Page containers
	--- */

  aside,
  .graph-wrapper {
    display: none;
  }

  /* ---
	- Record header
	--- */

  .record header {
    margin-bottom: 10mm;
  }

  .record-focus-container,
  .record-btn-close {
    display: none;
  }

  /* ---
	- Record main
	--- */

  main.record-container {
    position: unset;
    width: 100%;
    overflow: unset;
    box-shadow: unset;
  }

  /* ---
	- Record footer
	--- */

  main.record-container footer {
    break-before: page;
  }

  main.record-container footer .record-links-context {
    display: block;
    position: unset;
    box-shadow: unset;
  }

  main.record-container footer li {
    display: block;
    margin-top: 2mm;
  }

  .id-context {
    font-style: normal;
    text-decoration: underline;
  }
}
