/** Global
------------------------------------------------------------*/

:root {
  /* colors */
  --cosma-blue: #147899;
  --cosma-blue-dark: #02385c;
  --border-color: #d8d8d8;
  --border-light-color: #f3f3f3;
  --indicator-background-color: #fafafa;
  --lateral-background-color: white;
  /* typography */
  --sans: system-ui, -apple-system, 'San Francisco', 'Helvetica Neue', 'Segoe UI', 'Arial',
    sans-serif;
  --serif: 'Georgia', 'Garamond', 'Time New Roman', 'Times', serif;
  --mono: 'Consolas', 'Courrier New', 'Courrier', monospace;
  --condensed: 'Avenir Next Condensed', 'Arial Condensed', sans-serif;
  /* global size */
  font-size: 62.5%;
  /* others */
  --shadow: 0 1px 3px rgba(3, 2, 2, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --offblack: rgb(51, 51, 51);
  --offwhite: rgb(253, 252, 251);
  --gray: #d6d6d6;
  --background-gray: rgb(246, 246, 246);
}

* {
  box-sizing: border-box;
}

/** Page
------------------------------------------------------------*/

body {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: 1.4rem;
}

/* ---
- Containers
--- */

article {
  padding: 0.8rem 0;
}

article + article:not(.record) {
  border-top: 1px solid var(--border-light-color);
}

/** Elements
------------------------------------------------------------*/

a {
  text-decoration: none;
}

/* ---
- Buttons
--- */

button {
  cursor: pointer;
  margin: 0.5rem 0.2rem;
  font-size: 1.3rem;
}

.btn {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.btn.active,
.btn[data-active='true'] {
  border: 1px solid black;
}

[onclick] {
  cursor: pointer;
}

/* ---
- Inputs
--- */

.outline {
  outline: var(--cosma-blue) solid 1px;
}

label {
  cursor: pointer;
}

input {
  font-size: 1.3rem;
}

input[type='checkbox'] {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.8rem 0 0;
}

input[type='range'] {
  cursor: pointer;
  width: 100%;
  margin-top: 0.3rem;
}

/* ---
- Lists
--- */

details {
  padding: 0.5rem 0 1rem 0;
}

details[data-sort] .sort-box:not(.active) {
  display: none;
}

details > summary {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
  outline: none;
}

summary + button {
  margin: 1rem 0;
}

.list-content-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-content-container ul li {
  padding: 0.3rem 0 0.3rem 1rem;
}

.list-content-container .menu-controls-list {
  margin-top: 1.3rem;
}

.list-content-container ul li span:last-of-type:not(.badge) {
  line-height: 1.5;
}

.record-type-points {
  /* colored dot before links */
  font-size: 0.8em;
  padding-right: 0.8em;
}

.menu-controls-container p:first-child {
  font-weight: bold;
}

.menu-types-container {
  display: flex;
  flex-direction: column;
}

.filter {
  margin: 0.1em 0;
}

.menu-tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.menu-tags-container label {
  display: flex;
  align-items: center;
  margin: 0.15em 0.15em 0.15em 0;
}

.menu-tags-container .label {
  margin: 0 0.2em;
}

.menu-tags-container .badge {
  margin: 0.15em 0.15em 0.15em 0;
}

.menu-tags-container input[type='checkbox'] {
  margin: 0.2em;
}

.menu-index-list {
  display: flex;
  flex-direction: column;
}

.menu-index-list.reverse {
  flex-direction: column-reverse;
}

/* ---
- Texts
--- */

a {
  color: inherit;
}

code {
  font-family: var(--mono);
}

/* ---
- Tips
--- */

.badge {
  display: inline-block;
  background-color: var(--indicator-background-color);
  border: 1px solid var(--gray);
  border-radius: 1px;
  padding: 0 0.3rem;
  font-size: 1rem;
  margin-left: 0.2rem;
  text-align: center;
  line-height: 1.5rem;
  white-space: nowrap;
  font-family: var(--mono);
  color: black;
}

.tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: var(--cosma-blue);
  border-radius: 50%;
  color: white;
  width: 16px;
  text-align: center;
  height: 16px;
  font-weight: normal;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  line-height: 130%;
  background-color: var(--cosma-blue-dark);
  box-shadow: var(--shadow);
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  width: 160px;
  bottom: 130%;
  left: 50%;
  margin-left: -80px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/** Menu (left side board)
------------------------------------------------------------*/

aside.menu {
  box-shadow: var(--shadow);
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  flex: 0 0 30rem;
  margin: 0;
  padding: 30px 20px;
  background-color: var(--background-gray);
  color: var(--offblack);
}

aside.menu:not(.active) {
  display: none;
}

/* ---
- User title
--- */

.title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--cosma-blue-dark);
  text-align: center;
}

/* ---
- Toolbar
--- */

#menu-electron {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

#menu-electron button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

#menu-electron button + button {
  margin-left: 7px;
}

#menu-electron button svg {
  height: 25px;
  width: auto;
}

#menu-electron button.icon-chevron svg {
  height: 18px;
}

/* ---
- Spatialization load bar
--- */

.load-bar {
  height: 0.3em;
  padding: 0.1rem;
  display: flex;
  margin: 1rem 0;
  background-color: var(--indicator-background-color);
}

.load-bar #load-bar-value {
  background-color: var(--cosma-blue);
  flex-basis: 100%;
}

/* ---
- Search input & list
--- */

.search-bar {
  width: 100%;
  margin: 0.8rem 0;
}

#search-result-list {
  margin-bottom: 0.8rem;
}

#search-result-list li {
  cursor: pointer;
}

/* ---
- Controls from graph params
--- */

.menu-controls input[type='number'] {
  width: 7rem;
  margin-left: 1rem;
}

.menu-controls-title {
  font-weight: bold;
}

/* ---
- Footer
--- */

aside.menu footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 30rem;
  margin-top: 1.8rem;
  background-color: inherit;
  padding: 0.8rem 0 0.8rem 0.8rem;
  text-transform: uppercase;
  border-top: solid 1px var(--border-color);
  font-size: 1.1rem;
  text-align: center;
}

aside.menu footer span:not(:first-of-type)::before {
  content: '—';
}

/** Record container (right side board)
------------------------------------------------------------*/

main.record-container {
  z-index: 100;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  flex: 0 0 50rem;
  height: 100vh;
  overflow: auto;
  background-color: var(--offwhite);
  color: var(--offblack);
  box-shadow: var(--shadow);
}

main.record-container:not(.active) {
  display: none;
}

.empty-record {
  margin-top: 4rem;
}

.empty-record p {
  font-size: 1.8rem;
}

.record:not(.active) {
  display: none;
}

/* ---
- Record header
--- */

.record header {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--gray);
}

.record header div + div,
.record-focus-container {
  margin-top: 0.8rem;
}

.record header div span:first-of-type,
.record-focus-container > span {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.record-last-edit {
  display: none;
}

.record-focus-lever {
  display: none;
}

.record-focus-lever input {
  width: 80%;
}

/* ---
- Record content
--- */

.record-content a {
  text-decoration: underline;
}

.record img {
  height: auto;
  max-width: 100%;
}

.record header img {
  height: auto;
  max-width: 100%;
  margin: 1rem 0;
}

/* From Typesafe.css, by Bradley Taunt */

.record main {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--serif);
}

.record main h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  margin: 3rem 0 0 0;
}

.record main h1 {
  font-size: 1.8rem;
}

.record main h2 {
  font-size: 1.6rem;
}

.record main h3 {
  font-size: 1.4rem;
}

.record main a {
  word-wrap: break-word;
}

.record main a.record-link {
  color: #337ab7;
}

a.record-link.highlight {
  font-style: normal;
  background-color: rgba(255, 255, 182, 1);
}

.record main ul,
.record main ol {
  padding-left: 2rem;
}

.record main ul li,
.record ol li {
  margin: 0.5rem 0 0 0;
}

.record main pre {
  overflow: auto;
  font-size: 90%;
}

.record main blockquote {
  border-left: 5px solid var(--border-color);
  margin: 0;
  padding-left: 1rem;
}

.record main table {
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}

.record main tr {
  border-bottom: 1px solid var(--border-color);
}

.record main th,
.record main td {
  padding: 0.5rem;
}

.record main hr {
  background: var(--border-color);
  border: 0;
  height: 1px;
  margin: 2rem 0;
}

/* ---
- Record bibliography
--- */

.record .bibliography div + div {
  margin-top: 1rem;
}

.record div.csl-entry {
  width: inherit;
  text-indent: -2rem;
  padding-left: 2rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* ---
- Record footer
--- */

.record footer {
  margin-top: 3rem;
  border-top: 1px solid var(--gray);
}

.record footer li {
  /* links & backlinks */
  position: relative;
}

.record footer li .record-links-context {
  background: white;
  padding: 0.8rem;
  border-radius: 2px;
  margin-top: 0.8rem;
  bottom: calc(100% + 10px);
  box-shadow: var(--shadow);
  text-indent: 0;
}

.record footer li .record-links-context.hover {
  position: absolute;
  display: none;
}

.record footer li:hover .record-links-context.hover {
  display: block;
}

.record footer li .record-links-context li::before {
  content: '-';
  position: relative;
  left: -5px;
}

.record footer li .record-links-context p,
.record footer li .record-links-context blockquote {
  margin: 0px;
}

.record footer li .record-links-context p + p {
  margin-top: 0.8rem;
}

/** Graph
------------------------------------------------------------*/

.graph-wrapper {
  top: 0;
  right: 0;
  height: 100vh;
  flex: 1;
}

#graph-canvas {
  cursor: move;
  width: 100%;
  height: 100%;
}

/* ---
- Graph elements
--- */

/* nodes */
circle,
text {
  cursor: pointer;
}

g.focus circle {
  stroke: var(--highlight);
}

/* labels */
text {
  font-family: var(--condensed);
  fill: gray;
}

/* arrows */
marker {
  /* set into config.yml file by 'undefined' link type */
  stroke: var(--l_undefined);
  fill: var(--l_undefined);
}

/* ---
- Buttons
--- */

.graph-controls-section + .graph-controls-section {
  margin-top: 10px;
}

.graph-control-label {
  margin-bottom: 5px;
}

.graph-controls {
  position: fixed;
  left: 34rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  bottom: 55px;
}

.graph-controls.move {
  left: 4rem;
}

.graph-timeline {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.graph-controls div {
  position: relative;
}

.graph-controls div.graph-controls-zoom {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.graph-controls-focus {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.graph-controls-focus input[type='range']:not(.active) {
  display: none;
}

.graph-controls #reset-isolate {
  display: none;
}

.graph-controls #reset-highlight {
  display: none;
}

#timeline-form {
  width: calc(100vw - 850px);
  backdrop-filter: blur(7px);
}

#timeline-form:not(.active) {
  display: none;
}

#timeline-form input[type='range'] {
  width: 100%;
}

#timeline-range output[name='timeline_output'] {
  color: gray;
  position: relative;
  text-align: center;
}

#chonos-list {
  display: flex;
  color: gray;
  justify-content: space-between;
}

/* thanks to https://stackoverflow.com/a/62983699/13491646 */

input[type='range'] + datalist {
  display: block;
  margin-top: -4px;
}

input[type='range'] + datalist option {
  cursor: pointer;
  display: inline-block;
  width: calc((100% - 12px) / (var(--list-length) - 1));
  text-align: center;
  font-size: 11px;
  color: gray;
}

input[type='range'] + datalist option:first-child {
  width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
  text-align: left;
}

input[type='range'] + datalist option:last-child {
  width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
  text-align: right;
}

/** Credits
------------------------------------------------------------*/

article#credits {
  text-align: center;
}

article#credits ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

article#credits dt {
  font-weight: bold;
}

article#credits dd,
article#credits li {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

article#credits h1.metas-title {
  font-size: 2rem;
}

/* ---
- Logo
--- */

.logo {
  cursor: pointer;
}

.logo svg {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#cosma-roll {
  transform-origin: 96px 42px;
}

#cosma-roll.anim {
  animation: 3s cubic-bezier(0.2, -0.2, 0.8, 1) 1 rotate-center;
}

/** Help
------------------------------------------------------------*/

#help td:first-child {
  font-weight: bold;
  text-align: right;
}

#help td {
  vertical-align: top;
}

#help tr {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/** Bibliography references
------------------------------------------------------------*/

#citation-references button {
  margin-bottom: 2rem;
}

#citation-references code {
  display: block;
  word-wrap: break-word;
  font-size: 1.2rem;
  max-height: 75vh;
  overflow: scroll;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.close-button {
  position: absolute;
  top: 5px;
  z-index: 200;
  padding: 1px 5px 4px 4px;
}

.close-button.active {
  transform: scaleX(-1);
}

.close-button.right {
  right: 10px;
  text-orientation: upright;
}

.close-button.left {
  left: 10px;
}
