<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosma report {{date}}</title>
    
    <style>
        body {
            font-family: sans-serif;
        }

        summary {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Cosma report {{date}}</h1>

    <details open>
        <summary>Erreurs ({{ nbErrors }})</summary>

        <ul style="list-style: none;">
            {% for file, errors in items.errors %}
                <li>
                    <details open>
                        <summary>{{ file }}</summary>

                        <ul>
                            {% for error in errors %}
                            <li>
                                {% if error.locator.line is defined %}
                                (line {{ error.locator.line }})
                                {% endif %}

                                {{ error.message }}
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </details>

    <details open>
        <summary>Avertissements ({{ nbWarnings }})</summary>

        <ul style="list-style: none;">
            {% for file, warnings in items.warnings %}
                <li>
                    <details open>
                        <summary>{{ file }}</summary>

                        <ul>
                            {% for warning in warnings %}
                            <li>
                                {% if warning.locator.line is defined %}
                                (line {{ warning.locator.line }})
                                {% endif %}

                                {{ warning.message }}
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </details>
    
</body>
</html>
