<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8">
    <title>
        Cosma
         - {{ 'title' | translate }}
        {% if projectTitle %}
         - {{ 'project' | translate({ project: projectTitle }) }}
        {% endif %}
    </title>
    <style>
        :root {
            --sans: system-ui, -apple-system, 'San Francisco', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
        }

        body {
            max-width: 800px;
            margin: 0 auto;
            font-family: var(--sans);
            padding: 1rem;
            box-sizing: border-box;
        }

        details + details {
            margin-top: 2em;
            border-top: 1px solid black;
            padding-top: 2em;
        }

        h2 {
            font-size: 0.8em;
        }

        article {
            margin-left: 1em;
        }
    </style>
</head>

<body>
    <header>
        <h1>
            Cosma
             - {{ 'title' | translate }}
            {% if projectTitle %}
             - {{ 'project' | translate({ project: projectTitle }) }}
            {% endif %}
             - {{ date }}
        </h1>
    </header>

    <main>
        <details open="open">
            <summary class="menu-title">
                {{ 'section_error' | translate({ length: errorsLength }) }}
            </summary>

            {% for report in reports %}
            {% if report.isError %}
            <article>
                <h2>{{ report.locator }}</h2>
                
                <p>{{ report.message }}</p>
            </article>
            {% endif %}
            {% endfor %}
        </details>

        <details open="open">
            <summary class="menu-title">
                {{ 'section_warning' | translate({ length: warningsLength }) }}
            </summary>

            {% for report in reports %}
            {% if report.isError == false %}
            <article>
                <h2>{{ report.locator }}</h2>
                
                <p>{{ report.message }}</p>
            </article>
            {% endif %}
            {% endfor %}
         </details>
    </main>
</body>

</html>