name: E2E tests

on:
  push:
    branches: ['develop']
  pull_request:
    branches: ['develop']

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install Dependencies and build
        run: npm install

      - name: Install Cosma
        run: npm install . --global

      - name: Build cosmoscopes
        run: sh ./e2e/exec-modelize.sh

      - name: Run unit tests
        run: npm run test:unit -- --verbose

      - name: Run E2E tests
        run: npm run test:e2e

      - name: Upload /temp directory
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: temp